{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% block title %} {{ post.title }} - МойБлог {% endblock %}
{% block content %}

  <div class="card bg-light mt-3">
    <div class="card-header text-muted">
        <p>Автор: {{ post_author }}</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{ post.body }}</p>

    </div>
    <div class="card-footer text-muted">
      <p class="pb-2">Опубликовано: {{ post.pub_date }}</p>
      {% if user.username == post_author.username %}
      <a class='btn btn-outline-success my-2 my-sm-0' href="{% url 'main:profile_post_change' pk=post.pk %}">Редактировать</a>
      <a class='btn btn-outline-success my-2 my-sm-0 ml-2' href="{% url 'main:profile_post_delete' pk=post.pk %}">Удалить</a>
      {% endif %}
    </div>
  </div>
  <h4 class="mt-5">Новый комментарий</h4>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons submit='Добавить' %}{% endbuttons %}
  </form>
  {% if comments %}
  <div  class="mt-5">
    {% for comment in comments %}
    <div class="my-2 p-2 border">
      <h5>{{ comment.author }}</h5>
      <p>{{ comment.content }}</p>
      <p class="text-right font-italic">{{ comment.created_at }}</p>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% include "../pagination.html" with page=comments %}
{% endblock %}
